/** {
	box-sizing: border-box;
} */

.tileImage {
	width:inherit;
	margin: 0 auto;
	height: 55%;
	bottom: 10px;
	position: relative;
	padding: 36px 0;
	/*position: absolute;*/
}

.character {
	width: 160px;
	height: 95%;
	margin: 3px;
	display: inline-block;
	border: 2px solid blue;
	padding: 1px;
	position: relative;
}

.name {
	/*position: absolute;*/
	top: -7px;
	line-height: 75%;
	position: absolute;
}

.stats {
	/*position: absolute;*/
	bottom: -7px;
	line-height: 75%;
	position: absolute;

}

.row {
	height: 175px;
	min-height:90px;
}

button {
	margin: 4px;
}
/*body {
	background-image: url(../images/star-wars-background.jpg);
	background-repeat:no-repeat;
	color: white;
}