.tileImage {
	width:inherit;
	height: 100%;
}

.character {
	width: 160px;
	height: 80%;
	margin: 5px;
	display: inline-block;
	border: 3px solid blue;
	padding: 2px;
}

.name {
	top: 2px;
	line-height: 80%;
}

.stats {
	bottom: 2px;
	line-height: 80%;

}

/*.row {
	max-height: 250px;
	min-height:90px;
}*/
/*body {
	background-image: url(../images/star-wars-background.jpg);
	background-repeat:no-repeat;
	color: white;
}*/